.menu-hierachical-list {
    border: solid black 4px;
    height: 600px;
    width: 300px;
    display: flex;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;

    .menu-container {
        position: absolute;
        transition: all 0.25s;
        left: 0px;
        width: 300px;
        overflow-x: hidden;

        &.menu-enter {
            transition: all 0.25s;
            left: 300px;
            opacity: 0.1;
        }

        &.menu-show {
            transition: all 0.25s;
            left: 0;
        }

        &.menu-hide {
            transition: all 0.25s;
            left: -300px;
            opacity: 0.5;
        }
    }
}
