.text-box-container {
        
    border: dotted 2px red;
    border-radius: 8px;
    background: lighten($color: (red), $amount: 20);
    overflow-x: auto;
    
    .number-container {
        font-size: 80pt;
        position: absolute;
        top:30;        
        left:0;
        right:0;
        text-align: center;
        
        
    }

    .number {
        opacity: 0.75;
        color: #fff;
        text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
    }

    

    &.background-1 {
        background: lighten($color: (green), $amount: 20);
    }

    &.background-2 {
        background: lighten($color: (blue), $amount: 20);
    }

    &.background-3 {
        background: lighten($color: (orange), $amount: 20);
    }

    &.background-4 {
        background: lighten($color: (purple), $amount: 20);
    }

    &.background-5 {
        background: lighten($color: (lime), $amount: 20);
    }

    &.background-6 {
        background: lighten($color: (cyan), $amount: 20);
    }


}