.text-box-container {
    width: 300px;
    height: 100px;
    border: dotted 2px red;
    border-radius: 8px;
    background: lighten($color: (red), $amount: 20);
    

    &.background-1 {
        background: lighten($color: (green), $amount: 20);
    }

    &.background-2 {
        background: lighten($color: (blue), $amount: 20);
    }

    &.background-3 {
        background: lighten($color: (orange), $amount: 20);
    }

    &.background-4 {
        background: lighten($color: (purple), $amount: 20);
    }

    &.background-5 {
        background: lighten($color: (lime), $amount: 20);
    }

    &.background-6 {
        background: lighten($color: (cyan), $amount: 20);
    }


}