$order-panel-width: 340px;

$product-panel-width: 200px;
$product-panel-left: 4px;

$categpry-panel-top:6px;
$category-panel-height:86px;

.region-menu-category {
    position: absolute;
    left: 0;
    right: $order-panel-width;
    top: $categpry-panel-top;
    height: $category-panel-height;    
}

.region-order-panel {    
    position: absolute;    
    right: 0;
    width: $order-panel-width;;
    top: 0;
    bottom:0;
    border: solid 1px blue;
}

.region-product-viewer {
    position: absolute;    
    right: $order-panel-width + 8;
    left: $product-panel-width +  $product-panel-left + 4;
    top: $category-panel-height + $categpry-panel-top;
    bottom:0;
}

.region-product-list {
    position: absolute;            
    top: $category-panel-height + $categpry-panel-top;
    width: $product-panel-width;
    left:4px;
    bottom:0;
}
